#menu{
    display: flex;
    border: 1px solid;
    width: 95%;
    margin: auto;
    /* visibility: hidden; */
    
}
#menu1,#menu2,#menu3,#menu4{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.menu2>div>p+img{
    width: 13%;
}
.menu3>div>p+img{
    width: 13%;
} */
/* #menu4 img{
    width: 13%;
}

p+img{
    width: 13%;
}
