/* helpdesk css */
* {
  margin: 0px;
  padding: 0px;
}
#navbar {
  width: 100%;
  height: 100px;
}
#top {
  width: 100%;
  height: 400px;
margin-top: -100px;
  color: white;
  text-align: center;
}
#top > img {
  width: 100%;
  height: 400px;
}
#top > h1 {
  width: 750px;
  text-align: center;
  margin: auto;
  font-size: 40px;
  margin-top: -380px;
}
#top > p {
  font-size: 25px;
  margin: auto;
  width: 800px;
  text-align: center;
  margin-top: 60px;
}
#topic {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 130px);
  padding: 30px;
  gap: 20px;
  margin-left: 180px;
  margin-top: -80px;
  background-color: white;
  font-weight: bold;
}
#topic > div {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  display: flex;

  align-items: center;
  border-radius: 8px;
  font-size: larger;
}
.num {
  width: 50px;
  font-size: 50px;
  color: rgb(182, 179, 179);
  margin-left: 15px;
  font-weight: lighter;
}
#topic > div > p:hover {
  color: red;
}
#theory {
  width: 55%;
  margin: auto;
  word-spacing: 1px;
  line-height: 25px;
  font-size: larger;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.781);
}
#theory p {
  margin-bottom: 25px;
  margin-top: 10px;
}
#theory h1 {
  margin-bottom: 25px;
  margin-top: 10px;
  line-height: 40px;
}
a {
  color: red;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
iframe {
  margin-bottom: 30px;
}
.image-slide-delay img,
video {
  width: 750px;
  height: 500px;
  margin-bottom: 30px;
}
#bottom {
  width: 100%;

  height: 400px;
  display: flex;
  text-align: center;
  align-items: center;
}
#bg-img {
  width: 100%;
}
#bottom > div:last-child {
  margin-left: -400px;
}
#bottom > div:last-child h1 {
  width: 700px;
  font-size: 35px;
  margin-bottom: 40px;
}
#bottom > div:last-child > p {
  width: 600px;
  font-size: 20px;
  margin-bottom: 40px;
  color: rgb(59, 57, 57);
}
input {
  padding: 15px;
  width: 330px;
  font-size: larger;
  border-radius: 8px;
}
#login{
  padding: 5px;
  border-radius: 5px;
  color: white;
}
#btn2 {
  padding: 19px;
  border-radius: 8px;
  margin-left: -20px;
  margin-bottom: 2px;
  color: white;
  font-size: large;
  border: none;
  background-color: rgb(247, 67, 2);
}
/* footer css */
.container-f {
  padding-top: 30px;
  width: 100%;
  height: 800px;
  margin-top: 50px;
  background-color: #121213;
}
.row {
  width: 1040px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.footer-col > ul {
  list-style: none;
  line-height: 30px;
  color: rgb(165, 164, 164);
  font-size: 14px;
  font-family: Inter, sans-serif;
}
.footer-col > ul > li:hover {
  color: rgb(228, 226, 226);
  cursor: pointer;
}
.footer-col > ul > .header:hover {
  color: white;
  cursor: default;
}
.header {
  font-size: 17px;
  font-weight: 500;
  color: white;
}
#contact-option {
  width: 80%;
  display: flex;
  color: white;
  justify-content: space-around;
  margin-left: 120px;
  margin-top: 30px;
  border-top: 1px solid rgba(128, 128, 128, 0.534);
  border-bottom: 1px solid rgba(128, 128, 128, 0.534);
  padding: 14px;
}
#contact-option > div {
  display: flex;
  gap: 6px;
}
#last {
  display: flex;
  justify-content: space-around;
  color: rgb(165, 164, 164);
  margin-top: 50px;
}
#last > div:first-child {
  width: 390px;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
}
#last > div:first-child div:hover {
  color: white;
}
#last > div:nth-child(2) {
  width: 100px;
  gap: 16px;
  display: flex;
  margin-left: -40px;
}
#last > div:last-child {
  margin-top: -11px;
}
#select {
  background-color: #121213;
  color: rgb(165, 164, 164);
  border: none;
}

/* first image slider css */
.container-1,.container-2,.container-3 {
  width: 750px;
  height: 500px;
}

.slider-container-1,.slider-container-2 ,.slider-container-3 {
  width: 750px;
  height: 500px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider1 img {
  width: 750px;
  height: 500px;
  vertical-align: middle;
}
.lines1 {
  position: absolute;
  display: flex;
  margin-top: 520px;
}
.line1,.line2,.line3 {
  cursor: pointer;

  transition: background-color 0.3s ease;
  padding: 4px;
  margin: 0 3px;
  border: 3px solid black;
  border-radius: 50%;
}
.line1:hover,
.active {
  background-color: black;
}
/* second image slide */

.slider2 img {
  width: 750px;
  height: 500px;
  vertical-align: middle;
}
.lines2 {
  position: absolute;
  display: flex;
  margin-top: 520px;
}

.line2:hover,
.active {
  background-color: black;
}

/* third images slide */


.slider3 img {
  width: 750px;
  height: 500px;
  vertical-align: middle;
}
.lines3 {
  position: absolute;
  display: flex;
  margin-top: 520px;
}

.line3:hover,
.active {
  background-color: black;
}

.container-1,
.container-2,
.container-3 {
  margin-bottom: 40px;
  margin-top: 30px;
}
