#log {
  width: 18%;
  border: 1px solid;
  text-align: center;
  height: 340px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: aliceblue;
}
#form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 15%;
}
label {
  right: 19%;
  position: relative;
}
#tick {
  display: flex;
  gap: 5px;
}
img {
  width: 50px;
  position: absolute;
  top: 22.5%;
  left: 48%;
  z-index: 2;
}
#em {
  padding-bottom: 9px;
  line-height: 0px;
  width: 77%;
}
#pass {
  padding-bottom: 9px;
  line-height: 0px;
  width: 77%;
}
#em > p {
  position: relative;
  left: -31%;
}
#pass > p {
  position: relative;
  left: -26%;
}
.pp {
  position: relative;
  top: 3%;
}
#bl {
  color: rgb(0, 8, 255);
  background-color: chartreuse;
  cursor: pointer;
  width: 50%;
  border-radius: 8px;
  border: none;
}
body{
    background-color: #1E2022;
}
#tp{
    color: white;
    position: absolute;
    top: 73%;
    left: 43%;
}
