* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#nav1 {
  display: flex;
  width: 100%;
  height: 11vh;
  align-items: center;
  justify-content: space-around;
  background-color: #f4f6f6;
}
#nav1Left {
  display: flex;
  width: 50%;
  margin-right: 14em;
  justify-content: space-between;
  align-items: center;
}
#nav1Right {
  display: flex;
  width: 10%;
  justify-content: space-between;
}
#nav1Left > p {
  font-size: 1.1em;
  color: #9ea1a2;
}
#nav1Right > p {
  font-size: 1.1em;
  color: #9ea1a2;
}
#nav2 {
  display: flex;
  margin: 5px -16px;
  width: 100%;
  height: 9vh;
  justify-content: space-around;
  background-color: #ffffff;
  visibility: visible;
}
#nav2Left {
  display: flex;
  width: 40%;
  margin-right: 24em;
  justify-content: space-between;
  align-items: center;
}
#nav2Left > p {
  font-size: 1.1em;
  color: #9ea1a2;
}
#nav2Left > p > img {
  width: 40%;
  margin-left: 1em;
}
#navBtn {
  background-color: #ff6200;
  width: 10%;
  margin: 0.5rem 0;
  border-radius: 0.8em;
  font-size: 1.2em;
  color: antiquewhite;
  border: none;
}
#test{
  display: flex;
  left: -9%;
  position: relative;
  width: 61%;
  gap: 50px;
}
.cs {
  display: flex;
  width: 33%;
  gap: 10px;
  cursor: pointer;
}



